<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lsstop.mapper.WebsiteConfigMapper">

    <resultMap id="websiteConfigResult" type="com.lsstop.domain.entity.WebsiteConfigEntity">
        <id column="id" property="id" jdbcType="INTEGER" javaType="java.lang.Integer"/>
        <result column="site_avatar" property="siteAvatar" jdbcType="VARCHAR" javaType="java.lang.String"/>
        <result column="site_name" property="siteName" jdbcType="VARCHAR" javaType="java.lang.String"/>
        <result column="site_author" property="siteAuthor" jdbcType="VARCHAR" javaType="java.lang.String"/>
        <result column="site_intro" property="siteIntro" jdbcType="VARCHAR" javaType="java.lang.String"/>
        <result column="about" property="about" jdbcType="LONGVARCHAR" javaType="java.lang.String"/>
        <result column="site_start_time" property="siteStartTime" jdbcType="TIMESTAMP" javaType="java.time.LocalDateTime"/>
        <result column="qq_url" property="qqUrl" jdbcType="VARCHAR" javaType="java.lang.String"/>
        <result column="github_url" property="githubUrl" jdbcType="VARCHAR" javaType="java.lang.String"/>
        <result column="gitee_url" property="giteeUrl" jdbcType="VARCHAR" javaType="java.lang.String"/>
        <result column="default_user_avatar" property="defaultUserAvatar" jdbcType="VARCHAR" javaType="java.lang.String"/>
        <result column="register_default_role_id" property="registerDefaultRoleId" jdbcType="INTEGER" javaType="java.lang.Integer"/>
        <result column="enable_comment_review" property="enableCommentReview" jdbcType="TINYINT" javaType="java.lang.Integer"/>
        <result column="enable_message_review" property="enableMessageReview" jdbcType="TINYINT" javaType="java.lang.Integer"/>
        <result column="websocket_url" property="websocketUrl" jdbcType="VARCHAR" javaType="java.lang.String"/>
        <result column="enable_comment_email_notice" property="enableCommentEmailNotice" jdbcType="TINYINT" javaType="java.lang.Integer"/>
        <result column="enable_comment_review_notice" property="enableCommentReviewNotice" jdbcType="TINYINT" javaType="java.lang.Integer"/>
        <result column="enable_message_review_notice" property="enableMessageReviewNotice" jdbcType="TINYINT" javaType="java.lang.Integer"/>
        <result column="comment_illegal_policy" property="commentIllegalPolicy" jdbcType="TINYINT" javaType="java.lang.Integer"/>
        <result column="message_illegal_policy" property="messageIllegalPolicy" jdbcType="TINYINT" javaType="java.lang.Integer"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" javaType="java.time.LocalDateTime"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" javaType="java.time.LocalDateTime"/>
    </resultMap>

    <select id="getWebsiteConfig" resultMap="websiteConfigResult">
        select id,
               site_avatar,
               site_name,
               site_author,
               site_intro,
               about,
               site_start_time,
               qq_url,
               github_url,
               gitee_url,
               default_user_avatar,
               register_default_role_id,
               enable_comment_review,
               enable_message_review,
               websocket_url,
               enable_comment_email_notice,
               enable_comment_review_notice,
               enable_message_review_notice,
               comment_illegal_policy,
               message_illegal_policy,
               create_time,
               update_time
        from blog_website_config
        limit 1
    </select>

    <update id="updateWebsiteConfig">
        update blog_website_config
        set site_avatar = #{siteAvatar},
            site_name = #{siteName},
            site_author = #{siteAuthor},
            site_intro = #{siteIntro},
            about = #{about},
            site_start_time = #{siteStartTime},
            qq_url = #{qqUrl},
            github_url = #{githubUrl},
            gitee_url = #{giteeUrl},
            default_user_avatar = #{defaultUserAvatar},
            register_default_role_id = #{registerDefaultRoleId},
            enable_comment_review = #{enableCommentReview},
            enable_message_review = #{enableMessageReview},
            websocket_url = #{websocketUrl},
            enable_comment_email_notice = #{enableCommentEmailNotice},
            enable_comment_review_notice = #{enableCommentReviewNotice},
            enable_message_review_notice = #{enableMessageReviewNotice},
            comment_illegal_policy = #{commentIllegalPolicy},
            message_illegal_policy = #{messageIllegalPolicy},
            update_time = now()
        where id = #{id}
    </update>

</mapper>
