<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lsstop.mapper.FriendLinkMapper">

    <resultMap id="friendLinkResult" type="com.lsstop.domain.entity.FriendLink">
        <id property="id" column="id" jdbcType="INTEGER" javaType="java.lang.Integer"/>
        <result property="linkName" column="link_name" jdbcType="VARCHAR" javaType="java.lang.String"/>
        <result property="linkAvatar" column="link_avatar" jdbcType="VARCHAR" javaType="java.lang.String"/>
        <result property="linkAddress" column="link_address" jdbcType="VARCHAR" javaType="java.lang.String"/>
        <result property="linkIntro" column="link_intro" jdbcType="VARCHAR" javaType="java.lang.String"/>
        <result property="isDelete" column="is_delete" jdbcType="INTEGER" javaType="java.lang.Integer"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP" javaType="java.time.LocalDateTime"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP" javaType="java.time.LocalDateTime"/>
    </resultMap>

    <select id="getFriendLinkList" resultMap="friendLinkResult">
        select id,
               link_name,
               link_avatar,
               link_address,
               link_intro,
               is_delete,
               create_time,
               update_time
        from blog_friend_link
        where is_delete = 0
    </select>

</mapper>