<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lsstop.mapper.OperationLogMapper">

    <!-- 操作日志ResultMap -->
    <resultMap id="OperationLogResultMap" type="com.lsstop.domain.entity.OperationLogEntity">
        <id property="id" column="id" jdbcType="INTEGER" javaType="java.lang.Integer"/>
        <result property="userId" column="user_id" jdbcType="VARCHAR" javaType="java.lang.String"/>
        <result property="module" column="module" jdbcType="VARCHAR" javaType="java.lang.String"/>
        <result property="operationType" column="operation_type" jdbcType="VARCHAR" javaType="java.lang.String"/>
        <result property="description" column="description" jdbcType="VARCHAR" javaType="java.lang.String"/>
        <result property="requestUrl" column="request_url" jdbcType="VARCHAR" javaType="java.lang.String"/>
        <result property="requestParam" column="request_param" jdbcType="VARCHAR" javaType="java.lang.String"/>
        <result property="ipAddress" column="ip_address" jdbcType="VARCHAR" javaType="java.lang.String"/>
        <result property="ipRegion" column="ip_region" jdbcType="VARCHAR" javaType="java.lang.String"/>
        <result property="browser" column="browser" jdbcType="VARCHAR" javaType="java.lang.String"/>
        <result property="os" column="os" jdbcType="VARCHAR" javaType="java.lang.String"/>
        <result property="costTime" column="cost_time" jdbcType="INTEGER" javaType="java.lang.Integer"/>
        <result property="state" column="state" jdbcType="INTEGER" javaType="java.lang.Integer"/>
        <result property="errorMsg" column="error_msg" jdbcType="VARCHAR" javaType="java.lang.String"/>
        <result property="deletedAt" column="deleted_at" jdbcType="BIGINT" javaType="java.lang.Long"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP" javaType="java.time.LocalDateTime"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP" javaType="java.time.LocalDateTime"/>
    </resultMap>

    <!-- 插入操作日志 -->
    <insert id="insert" parameterType="com.lsstop.domain.entity.OperationLogEntity">
        INSERT INTO blog_operation_log (user_id, module, operation_type, description, request_url, request_param,
                                        ip_address, ip_region, browser, os, cost_time, state, error_msg,
                                        deleted_at, create_time, update_time)
        VALUES (#{userId}, #{module}, #{operationType}, #{description}, #{requestUrl}, #{requestParam},
                #{ipAddress}, #{ipRegion}, #{browser}, #{os}, #{costTime}, #{state}, #{errorMsg},
                0, NOW(), NOW())
    </insert>

</mapper>
