<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lsstop.mapper.PhotoAlbumMapper">

    <resultMap id="photoAlbumsResult" type="com.lsstop.domain.entity.PhotoAlbum">
        <id column="id" property="id" jdbcType="INTEGER" javaType="java.lang.Integer"/>
        <result column="photo_album_name" property="photoAlbumName" jdbcType="VARCHAR" javaType="java.lang.String"/>
        <result column="photo_album_desc" property="photoAlbumDesc" jdbcType="VARCHAR" javaType="java.lang.String"/>
        <result column="photo_album_cover" property="photoAlbumCover" jdbcType="VARCHAR" javaType="java.lang.String"/>
        <result column="status" property="status" jdbcType="INTEGER" javaType="java.lang.Integer"/>
        <result column="is_delete" property="isDelete" jdbcType="INTEGER" javaType="java.lang.Integer"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" javaType="java.time.LocalDateTime"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" javaType="java.time.LocalDateTime"/>
    </resultMap>

    <select id="getPhotoAlbumList" resultMap="photoAlbumsResult">
        select id,
               photo_album_name,
               photo_album_desc,
               photo_album_cover,
               status,
               is_delete,
               create_time,
               update_time
        from blog_photo_album
        where is_delete = 0

    </select>

</mapper>