<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lsstop.mapper.TagMapper">

    <resultMap id="tagVoResult" type="com.lsstop.domain.vo.TagVO">
        <id property="id" column="id" jdbcType="INTEGER" javaType="java.lang.Integer"/>
        <result property="tagName" column="tag_name" jdbcType="VARCHAR" javaType="java.lang.String"/>
        <result property="articleCount" column="article_count" jdbcType="INTEGER" javaType="java.lang.Integer"/>
    </resultMap>

    <select id="getTagList" resultMap="tagVoResult">
        select t.id,
               t.tag_name,
               count(at.article_id) as article_count
        from blog_tag t
                 left join blog_article_tag at on t.id = at.tag_id
        where t.deleted_at = 0
        group by t.id, t.tag_name
        order by article_count desc, t.id
    </select>

</mapper>
