<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lsstop.mapper.TalkMapper">

    <resultMap id="talkResultMap" type="com.lsstop.domain.entity.TalkEntity">
        <id column="id" property="id" jdbcType="INTEGER" javaType="java.lang.Integer"/>
        <result column="user_id" property="userId" jdbcType="VARCHAR" javaType="java.lang.String"/>
        <result column="content" property="content" jdbcType="VARCHAR" javaType="java.lang.String"/>
        <result column="is_top" property="isTop" jdbcType="INTEGER" javaType="java.lang.Integer"/>
        <result column="status" property="status" jdbcType="INTEGER" javaType="java.lang.Integer"/>
        <result column="deleted_at" property="deletedAt" jdbcType="BIGINT" javaType="java.lang.Long"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" javaType="java.time.LocalDateTime"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" javaType="java.time.LocalDateTime"/>
    </resultMap>

    <resultMap id="talkVoResultMap" type="com.lsstop.domain.vo.TalkVO">
        <id column="id" property="id" jdbcType="INTEGER" javaType="java.lang.Integer"/>
        <result column="avatar" property="avatar" jdbcType="VARCHAR" javaType="java.lang.String"/>
        <result column="nickname" property="nickname" jdbcType="VARCHAR" javaType="java.lang.String"/>
        <result column="content" property="content" jdbcType="VARCHAR" javaType="java.lang.String"/>
        <result column="is_top" property="isTop" jdbcType="INTEGER" javaType="java.lang.Integer"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" javaType="java.time.LocalDateTime"/>
        <collection property="imgList" ofType="java.lang.String">
            <result column="image_url" jdbcType="VARCHAR" javaType="java.lang.String"/>
        </collection>
    </resultMap>

    <select id="listTalk" resultMap="talkVoResultMap">
        select bt.id,
               bup.avatar,
               bup.nickname,
               bt.content,
               bt.is_top,
               bt.create_time,
               bti.image_url
        from blog_talk bt
                 left join blog_user_profile bup on bt.user_id = bup.user_id and bup.deleted_at = 0
                 left join blog_talk_image bti on bt.id = bti.talk_id and bti.deleted_at = 0
        where bt.deleted_at = 0
          and bt.status = 1
        order by bt.is_top desc, bt.create_time desc, bti.sort
    </select>

    <select id="getTalkById" resultMap="talkVoResultMap">
        select bt.id,
               bup.avatar,
               bup.nickname,
               bt.content,
               bt.is_top,
               bt.create_time,
               bti.image_url
        from blog_talk bt
                 left join blog_user_profile bup on bt.user_id = bup.user_id and bup.deleted_at = 0
                 left join blog_talk_image bti on bt.id = bti.talk_id and bti.deleted_at = 0
        where bt.deleted_at = 0
          and bt.status = 1
          and bt.id = #{id}
        order by bti.sort
    </select>

</mapper>